:root {
    --primary-color: #8B9EE1;
    --secondary-color: #D9D9D9;
    --primary-background: #BFC0DC;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.logo-name a img {
    height: 40px;
}

.name{
    font-size: 32px;
}

.coder-text {
    color: rgb(25, 8, 156);
}

.academy-text {
    color: black;

}

#nav-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

#nav-items a {
    text-decoration: none;
    color: rgb(25, 8, 156);
}

footer {
    background-color: var(--primary-color);
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 10px;
}

.social-media a i {
    font-size: 30px;
    color: black;
}
.info {
    color: black;
}

.info p {
    margin-bottom: 5px 0;
    font-size: 18;
}

@media screen and (min-width: 600px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;            
}
.name {
    margin-bottom: 0;
}
#nav-items {
    width: 50%;
}

.social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}