:root {
    --primary-color: #8B9EE1;
    --secondary-color: #D9D9D9;
    --primary-background: #BFC0DC;
}

body{
    margin: 0;
}

header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.logo-name a img {
    height: 40px;
}

.name{
    font-size: 32px;
}

.coder-text {
    color: rgb(60, 37, 231);
}

.academy-text {
    color: black;

}

#nav-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

#nav-items a {
    text-decoration: none;
}